.image-bg {
    position: relative;
    height: auto;
}

.image_bg span {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, p {
    position: absolute;
}